/*Sign up*/
.form-group {
    position: relative;
    min-height: 3.5em;
    width: 60%;
    margin: auto;
  }
  
.login-title{
    color: darkgrey;
    font-family: cursive;
    font-weight: bold;
}

.form{
    background-color: #263238;
    padding-top: 50px;
    padding-bottom: 50px;
}

  input.form-control {
    height: 2em;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    outline: 0;
    background: left;
    text-indent: 1cm;
    border-bottom: 1px solid black;
  }
  
  label.form-control-label {
    position: absolute;
    font-size: 1em;
    top: 0;
    color: darkgrey;
    left: 5px;
  }
#fb-button{
    background-color: #3b5998;
    border-radius: 25px;
    border: 2px solid #3b5998;
    width: 60%;
    height: 30px;
    font-weight: bold;
    color: whitesmoke;
}

#login-button-dangky{
width: 150px;
height: 35px;
background-color: yellow;
color: black;
font-weight: bold;
border-radius: 5px;
border: 2px solid yellow;
}

.login-quenmk{
    color: darkblue;
    text-align: right;
}

.login-text{
    text-align: left;
    width: 60%;
    color: rgb(139, 138, 138);
    margin: auto;
    
}
/*end sign up*/