.scroll-horizontal {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.scroll-horizontal::-webkit-scrollbar {
    width: 0cm;
}

.anime-item {
    position: relative;
}

.item-anime-image {
    width: 180px;
    height: 280px;
    z-index: -1;
}

.top-anime-link {
    position: relative;
    text-decoration: none;
}

.item-anime-horizontal {
    background-color: rgba(81, 77, 77, 0.2);
    transition: 0.5 all;
    position: absolute;
    left: 0%;
    top: 0%;
}

.center .px-2 {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.item-anime-horizontal div {
    padding: 10px;
    margin-left: 5px;
}

.item-anime-rank {
    display: inline;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    color: yellow;
    background-color: rgba(0, 0, 0, .65);
}

.item-anime-ep {
    display: inline;
    width: 10%;
    text-align: center;
    height: 10%;
    border-radius: 100%;
    background-color: rgba(183, 28, 28, .9);
    color: #fff;
    font-size: 14px;
    line-height: 1em;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.item-anime-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 215px;
    color: rgb(255, 255, 255);
    padding-bottom: 10%;
    transition: .5s;
}

.item-anime-play {
    color: white;
    position: absolute;
    font-size: 64px;
    opacity: 0;
    left: 25%;
    top: 25%;
    transition: .5s ease;
}

.anime-item:hover .item-anime-play {
    opacity: 1;
    transition: .5s;
}

.anime-item:hover .item-anime-title {
    opacity: 0;
    transition: .5s;
}

.anime-item:hover .item-anime-horizontal {
    transition: 0.5 all;
    background-color: rgba(81, 77, 77, 0.6);
}