@keyframes fade-in {
    from {
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
    background: #C1C1C1;
}

h1 {
    margin: 70px auto;
    text-align: center;
}


/* Search + btn */

input[type=text] {
    margin-top: 5px;
    padding: 6px;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.search-container button {
    margin-right: 16px;
    padding: 6px 10px;
    background: #ddd;
    font-size: 14px;
    margin-left: -5px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn:hover {
    background-color: #d43f3a;
}

.search-container {
    margin-top: 3px;
}

.btn-size {
    margin-top: 7px;
}


/* Header */

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* LOGO */

header .logo {
    color: #FFF;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

.logo a img {
    padding: 5px;
    width: 110px;
    height: 40px;
}


/* Dropdown Nav */

header nav {
    float: left;
}


/* UL */

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}


/* Nav Items */

header nav ul li {
    list-style: none;
    position: relative;
}


/* Sub-menu */

header nav ul li.sub-menu:before {
    content: '\f0d7';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #FFF;
    right: 5px;
    cursor: pointer;
}


/* header nav ul li.active.sub-menu:before {
    content: '\f0d8';
} */

.sub-menu ul {
    max-width: 640px;
    max-height: 240px;
    width: 620px;
    height: auto;
    overflow-y: hidden;
}

.sub-menu ul li {
    float: left;
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: #333;
    display: none;
    transition: 0.5s;
    animation: fade-in 0.5s ease;
}

header nav ul li ul li {
    display: block;
    width: 200px;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #FFF;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #FFF;
    /* background: #2196f3; */
}


/* Toggle Button */

.menu-toggle {
    color: #FFF;
    float: right;
    line-height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.search-container-responsive {
    display: none;
}


/* Media Queries */

@media (min-width: 1130px) {
    header nav ul li:hover ul {
        display: block;
        animation: fade-in 0.5s ease;
    }
    header nav ul li:hover.sub-menu:before {
        content: '\f0d8';
    }
    .sub-menu ul:hover {
        overflow-y: scroll;
    }
    .sub-menu ul li:hover a {
        color: gainsboro;
    }
}

@media (min-width: 1135px) and (max-width: 1249px) {
    header nav ul li:hover ul {
        display: block;
        animation: fade-in 0.5s ease;
    }
    header nav ul li:hover.sub-menu:before {
        content: '\f0d8';
    }
    .sub-menu ul:hover {
        overflow-y: scroll;
    }
    .sub-menu ul li:hover a {
        color: gainsboro;
    }
    nav ul li a {
        font-size: 14px;
        padding: 4px;
    }
    input[type=text] {
        margin-top: 5px;
        padding: 6px;
        font-size: 10px;
        width: 40%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    .search-container button {
        margin-right: 16px;
        padding: 6px 10px;
        background: #ddd;
        font-size: 10px;
        margin-left: -5px;
    }
    .btn {
        font-size: 12px;
        margin-left: -2rem;
    }
}


/* @media (min-width: 991px) {
    header nav ul li:hover ul {
        display: block;
        animation: fade-in 0.5s ease;
    }
    header nav ul li:hover.sub-menu:before {
        content: '\f0d8';
    }
    .sub-menu ul:hover {
        overflow-y: scroll;
    }
    .sub-menu ul li:hover a {
        color: gainsboro;
    }
} */

@media (max-width: 1135px) {
    header nav ul li.active.sub-menu:before {
        content: '\f0d8';
    }
    header nav ul li.active ul {
        display: block;
    }
    header {
        padding: 0 20px;
        display: block;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 50%;
        height: calc(100vh - 50px);
        background: rgba(0, 0, 0, 1);
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    header nav ul li.active ul {
        position: relative;
        background: #C1C1C1;
    }
    .sub-menu ul {
        max-width: unset;
        max-height: 240px;
        width: 100%;
        height: auto;
        overflow-y: scroll;
    }
    .sub-menu ul li {
        float: left;
    }
    .form-group {
        padding: 10px;
    }
    .search-container {
        display: none;
    }
    .search-container-responsive {
        display: block;
        float: right;
    }
    .search-container-responsive .form .form-group button {
        padding: 6px;
    }
    #btn-login {
        text-align: center;
    }
}